<app-header></app-header>
<h1>E-TASK MANAGER</h1>
<p style = "text-align: center; color:black;">we help you to breakdown your projects tasks</p>

<h2>Tired of finding your Projects breakdown and managing those tasks.</h2>
<p>E-Task Manger helps you to fill those gaps.</p>
<h2>THIS APP HELPS YOU TO UPDATE YOUR TASKS AND BREAKDDOWN THE STRUCTURE.</h2>
<p>Upon uploading your excel file, our page will help you to organize the projects tasks....</p>

<p>Majorly, this project deals with breaking down the project into parent task and its consequitive child tasks, and rolling up to update the
  projects Started date and Completed date, along with those data, here we can also add the overall weightage of the individual task and map it to
the their parent tasks. along with these, we are follow an rolling down approach to distribute the milestone of the parent to its respective parents
consequitively./p>

<p style="text-align: center; padding:12%" >Once again, thanks for visiting our page, Take care.</p>
<app-footer></app-footer>




